html, body {
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 0;
}

p {
  margin: 1%;
  align-items: center;
  font-size: 100px;
  font-family: 'Libre Franklin';
}

@media screen and (max-width: 800px) {
  p {
    font-size: 75px;
  }
}

section {
  font-size: 25px;
  scroll-snap-align: center;
}

.navbar-custom {
  height: 60px;
  padding: 0 10px;
  font-size: 20px;
}

.navbar-icon {
  margin-right: 15px;
}

.first {
  height: 100vh;
  width: 100vw;
  padding: 50px;
  background: #FFF5FD;
  color: #0021CF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.second {
  height: 100vh;
  width: 100vw;
  padding: 50px;
  color: #F803A4;
  background: #F1EEFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.third {
  background: #EEF7FF;
  color: #03BDF8;
  height: 100vh;
  width: 100vw;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fourth {
  height: 100vh;
  width: 100vw;
  padding: 50px;
  color: #00CFB6;
  background: #F0FFF6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fifth {
  background: #00CFB6;
  color: #F0FFF6;
  height: 100vh;
  width: 100vw;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sixth {
  background: #0329EE;
  color: #E1F7FC;
  height: 100vh;
  width: 100vw;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.seventh {
  background: #3E00CF;
  color: #F4EEFF;
  height: 100vh;
  width: 100vw;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.faq {
  width: 100vw;
  font-size: 20px;
  line-height: 180%;
  padding: 100px;
  background: #FFF5FD;
  color: #0021CF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .faq-footer, .faq-footer a, .faq-footer a:hover {
  font-size: 20px;
  height: 7vh;
  width: 100vw;
  background: #FFF5FD;
  color: rgba(0, 0, 0, .55);
  text-decoration: none;
} */
/* footer {
  font-size: 20px;
  height: 7vh;
  width: 100vw;
  background: #3E00CF;
}

footer a, footer a:hover {
  color: #FFFFFF;
  text-decoration: none;
} */

.pills-credit, .pills-credit a, .pills-credit a:hover {
  font-size: 12px;
  color: #808080;
  text-decoration: none;
}

#top-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

#btn-back-to-home {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: block;
}

#faq-button {
  margin-top: 12px;
}
