html, body {
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: arial;
}

p {
  margin: 1%;
  align-items: center;
  font-size: 80px;
}

section {
  font-size: 25px;
  scroll-snap-align: center;
}

.navbar-custom {
  height: 7vh;
  padding: 0 1%;
  font-size: 20px;
}

.first {
  height: 93vh;
  width: 100vw;
  background: #FFF5FD;
  color: #0021CF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.second {
  height: 100vh;
  width: 100vw;
  color: #F803A4;
  background: #F1EEFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.third {
  background: #EEF7FF;
  color: #03BDF8;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fourth {
  height: 100vh;
  width: 100vw;
  color: #00CFB6;
  background: #F0FFF6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fifth {
  background: #00CFB6;
  color: #F0FFF6;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sixth {
  background: #0329EE;
  color: #E1F7FC;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.seventh {
  /* background: #eefff2; */
  background: #3E00CF;
  color: #F4EEFF;
  height: 93vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.top-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.faq {
  height: 93vh;
  width: 100vw;
  font-size: 20px;
  line-height: 180%;
  background: #FFF5FD;
  color: #0021CF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.faq-footer, .faq-footer a, .faq-footer a:hover {
  font-size: 20px;
  height: 7vh;
  width: 100vw;
  background: #FFF5FD;
  color: rgba(0, 0, 0, .55);
  text-decoration: none;
}

footer {
  font-size: 20px;
  height: 7vh;
  width: 100vw;
  background: #3E00CF;
}

footer a, footer a:hover {
  color: #FFFFFF;
  text-decoration: none;
}
